.ShoppingCart {
    border: 1px dashed var(--border-color);
    padding: 0.5rem 1em;
    margin: 0 1rem 1em 1rem;
    flex: 1 1 calc(27.9rem + 1.5rem);
}

.ShoppingCart:hover {
    border: 1px solid var(--warn-color);
}

.ShoppingCart__Image {
    margin: 0 0 1em 0;
    display: block;
    cursor: pointer;
}

@media screen and (min-width: 40em) {
    .ShoppingCart {
        flex-grow: 0;
    }
}
