.CommentSort {
    list-style: none;
    margin: 0;
}

.CommentSort__List__Item {
    background-color: var(--primary-color);
    color: var(--primary-secondary-font-color);
    position: relative;
    width: 15rem;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    padding: 0.6em 2rem;
    display: block;
    text-decoration: none;
}

.CommentSort__List__Item:hover > ul {
    display: inline;
}

.CommentSort__List__Item li:hover, .CommentSort__List__Item li:focus, .CommentSort__List__Item li:active {
    background-color: var(--secondary-color);
    color: var(--primary-secondary-font-color);
}

.CommentSort__List {
    position: absolute;
    left: 0;
    top: calc(1.8rem * 1.5 + 1.2em);
    width: 15rem;
    list-style: none;
    margin: 0;
    display: none;
}
