.CommentForm__Form {
    margin: 0.5em 0;
}

.SignUp__Formset {
    margin: 0.5em 0;
}

.SignUp__Formset__Label, .SignUp__Formset__Input {
    display: inline-block;
}

.SignUp__Formset__Label {
    width: 100%;
    padding-right: 2%;
    vertical-align: center;
}

.SignUp__Formset__Input {
    width: 100%;
    border: 1px solid var(--secondary-color);
    padding: 0.4em;
}

.SignUp__Formset__Input:focus {
    background-color: var(--input-focus-color);
}

.SignUp__Formset__Input:required {
    padding-right: 3%;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 4%;
}

.SignUp__Options {
    float: right;
}

.SignUp__Options__Submit {
    border: 1px solid var(--secondary-color);
    padding: 0.4em 1em;
    margin: 0 1.2rem;
    color: var(--primary-secondary-font-color);
    background-color: var(--primary-color);
}

.SignUp__Options__Submit:hover {
    background-color: var(--submit-hover-color);
}

@media (min-width: 30em) {
    .SignUp__Formset__Label {
        width: 30%;
        text-align: right;
    }

    .SignUp__Formset__Input {
        width: 68%;
    }
}

@media (min-width: 40em) {
    .SignUp {
        max-width: 40em;
    }
}
