html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    color: var(--main-font-color);
}

button {
    font-family: 'Roboto', 'sans-serif' !important;
}

h1, h2, h3, legend, .Header__Logo {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 500 !important;
    line-height: 130%;
    color: var(--warn-color);
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2.0rem;
}

fieldset {
    border: 1px solid #ddd;
    font-size: 1.5rem;
}

legend {
    color: var(--warn-color) !important;
    font-size: 2.2rem;
    font-weight: normal;
}

@media (min-width: 40em) {
    @media (max-width: 80em) {
        body {
            font-size: 1.5rem;
        }
    }

    h1 {
        font-size: 2.8rem;
    }
}
