.Layout {
    background-color: var(--primary-secondary-font-color);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.Layout__Content {
    padding: 2rem;
}

@media (min-width: 40em) {
    .Layout__Content {
        padding: 3rem;
    }
}

@media (min-width: 80em) {
    .Layout__Content {
        padding: 3rem 1.2rem;
    }
}
