.Header {
    background-color: #da0545;
    text-align: center;
}

.Header__Logo {
    font-family: 'Raleway', sans-serif;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #fff;
}

.Header__Logo a:link, .Header__Logo a:visited {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 0.6em 2rem;
}

@media screen and (min-width: 40em){
    .Header {
        padding: 1.5em 2.4rem;
        text-align: left;
    }

    .Header__Logo {
        font-size: 2.8rem;
        text-align: left;
        display: inline-block;
        padding: 0;
    }

    .Header__Logo a:link, .Header__Logo a:visited {
        padding: 0.1em 0.6rem;
    }
}

@media screen and (min-width: 80em) {
    .Header__Logo a:link, .Header__Logo a:visited {
        padding: 0.1em 1.2rem;
    }
}
