.ShoppingCarts__Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

.ShoppingCarts__Content {
    overflow: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 40em) {
    .ShoppingCarts__Header {
        margin: 0 0 3rem 0;
        flex-direction: row;
    }
}
