.ShoppingCarts__Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

.ShoppingCarts__Header__Button {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    padding: 0.6em 2rem;
    width: 100%;
    display: block;
    background-color: #189ca4;
    color: #fff;
    border: 0;
}

.ShoppingCarts__Header__Button:hover {
    background-color: #96cfbf;
    color: #fff;
}

.ShoppingCarts__Section {
    overflow: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 40em) {
    .ShoppingCarts__Header {
        margin: 0 0 3rem 0;
        flex-direction: row;
    }
}
