.CommentForm {
    grid-column: 1 / 3;
}

.CommentForm__Form__Formset {
    margin: 0.5em 0;
}

.CommentForm__Form__Formset__Label, .CommentForm__Form__Formset__Input, .CommentForm__Form__Formset__Textarea {
    display: inline-block;
}

.CommentForm__Form__Formset__Label {
    width: 100%;
    padding-right: 2%;
    vertical-align: center;
}

.CommentForm__Form__Formset__Input, .CommentForm__Form__Formset__Textarea {
    width: 100%;
    border: 1px solid var(--secondary-color);
    padding: 0.4em;
}

.CommentForm__Form__Formset__Textarea {
    min-height: 8em;
    resize: vertical;
}

.CommentForm__Form__Formset__Input:focus, .CommentForm__Form__Formset__Textarea:focus {
    background-color: var(--input-focus-color);
}

.CommentForm__Form__Formset__Input:required, .CommentForm__Form__Formset__Textarea:required {
    padding-right: 3%;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 4%;
}

.CommentForm__Form__Submit {
    float: right;
    border: 1px solid var(--secondary-color);
    padding: 0.4em 1em;
    margin-right: 1.2rem;
    color: var(--primary-secondary-font-color);
    background-color: var(--primary-color);
}

.CommentForm__Form__Submit:hover {
    background-color: var(--submit-hover-color);
}

@media screen and (min-width: 30em) {
    .CommentForm__Form__Formset__Label {
        width: 30%;
        text-align: right;
    }

    .CommentForm__Form__Formset__Input, .CommentForm__Form__Formset__Textarea {
        width: 68%;
    }
}

@media screen and (min-width: 40em) {
    .CommentForm {
        max-width: 40em;
    }
}

