.Footer {
    background-color: #000;
}

.Footer__Content {
    display: block;
    color: #fff;
    padding: 0.6em 2rem;
}

@media screen and (min-width: 40em) {
    .Footer__Content {
        padding: 0.8em 3rem;
    }
}

@media screen and (min-width: 80em) {
    .Footer__Content {
        padding: 0.8em 1.2rem;
    }
}

